  .superhero-title {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    color: #ded4d4; /* rojo intenso */
    text-shadow:
      2px 2px 0 #080808,  /* azul */
      4px 4px 0 #5d5d5b;  /* amarillo */
  }

  .hero-card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
  }

  .hero-card:hover {
    transform: translateY(-8px) scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,0.3);
  }

  .hero-img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    background-color: #e1e1e1;
  }

  .cursor-pointer {
  cursor: pointer;
  transition: transform 0.2s ease;
}

.cursor-pointer:hover {
  transform: scale(1.03);
  box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}